@model FIAP.CP2.Model.ProfissaoModel
@{
    ViewData["Title"] = "Excluir Profissão";
}
<h2>Excluir Profissão</h2>
<p>Tem certeza que deseja excluir @Model.Nome ?</p>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Excluir</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
