@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Julia Damasceno Busso - RM560293 - 2TDSPB
</p><p>
    Gabriel Gomes Cardoso - Rm559597 - 2TDSPB
</p><p>
    Jhonatan Quispe Torrez - rm560601 - 2TDSPB
</p>
